body,td,th {
	color: #006699;
}
body {
	background-color: #FFFFFF;
	background-image: url(../images/whiteBackground.jpg);
	background-repeat: repeat-y;
}
a:link {
	color: #006699;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #006699;
}
a:hover {
	text-decoration: none;
	color: #003399;
}
a:active {
	text-decoration: none;
	color: #006666;
}
